<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Projeto-angular</title>
    <link rel="stylesheet" href="C:\Projeto_angular\node_modules\bootstrap\dist\css\bootstrap.min.css">
    <script src="program-service.js"></script>
    <script src="C:\Projeto_angular\node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="node_modules\angular\angular.min.js"></script>
    <script src="node_modules\angular-route\angular-route.min.js"></script>
    <script>
        angular.module('projeto').controller("CadastroController", CadastroController);
          CadastroController.$inject = ['$location', 'ProgramService'];
              function CadastroController($location, programService){
                 vm = this 
                 vm.texto = "cadastro"
                 vm.pessoa = {}
                 vm.cadastar = function(){
                   programService.exec_GET(vm.pessoa).then(function(resposta){
                    if(resposta){
                        vm.cliente = resposta
            } 
        })
    }
}
         angular.module("program").factory("ProgramService", programService);
           programService.$inject = ["$http"]
              function programService($http){
                 var service = {
                   exec_GET: function(){
                    return $http.get("http://127.0.0.1:8080").then(TratarResposta,TratarErro);
   },
                   exec_POST: function(cliente){
                    return $http.post("http://127.0.0.1:8080", cliente).then(TratarResposta,TratarErro);
            }
        }
        function TratarResposta(response){
           return response.data; 
        }
        function TratarErro(error){
            return error.data; 
         }
    return service;
    }
    </script>
    <div class="Container">
        <h1 class="display-1">Formulario</h1>
        <form>
            <div class="form-group">
              <label for="Nome">Nome: </label>
              <input type="text" class="form-control" id="Nome" ng-model="vm.pessoa.nome"  placeholder="Insira seu Nome">
            </div>
            <div class="form-group">
              <label for="Idade">Idade: </label>
              <input type="number" class="form-control" id="idade" ng-model="vm.pessoa.idade" placeholder="Insira sua Idade">
            </div>  
            <div class="form-group">
                <label for="Sexo">Sexo: </label>
                <input type="text" class="form-control" id="Sexo" ng-model="vm.pessoa.sexo" placeholder="Insira seu Sexo">
              </div>  
            <button type="submit" class="btn btn-primary" ng-click="vm.cadastrar()">Cadastrar</button>
            
          </form>
          
    </div>
    
   
